<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
  <Product
    Id="*"
    Name="$(var.ProductName)"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="$(var.Manufacturer)"
    UpgradeCode="4A3B340E-DB5E-4306-9D4B-C59466A4B54B">
    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64"
      Description="$(var.ProductName)" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)" />
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationStartMenuShortcut" Guid="*">
        <Shortcut
          Id="StartMenuShortcut"
          Name="$(var.ProductName)"
          Description="$(var.ProductName)"
          Target="[INSTALLFOLDER]ssh_mobile.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\SSH Mobile"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="LanShareFirewallException" Guid="*">
        <RegistryValue
          Root="HKLM"
          Key="Software\SSH Mobile"
          Name="LanShareFirewallException"
          Type="integer"
          Value="1"
          KeyPath="yes" />
        <fire:FirewallException
          Id="LanShareFirewallRule"
          Name="SSH Mobile LAN Share"
          Description="Allow SSH Mobile LAN sharing from the local subnet"
          Program="[INSTALLFOLDER]ssh_mobile.exe"
          Scope="localSubnet"
          Profile="all" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationStartMenuShortcut" />
      <ComponentRef Id="LanShareFirewallException" />
    </Feature>
  </Product>
</Wix>
