server {
  listen ${FRONT_INTERNAL_PORT};
  server_name _;

  root /usr/share/nginx/html;
  index index.html;

  add_header X-Content-Type-Options "nosniff" always;
  add_header X-Frame-Options "DENY" always;
  add_header Referrer-Policy "no-referrer" always;

  location = /healthz {
    access_log off;
    return 204;
  }

  location /assets/ {
    try_files $uri =404;
    expires 1y;
    add_header Cache-Control "public, immutable" always;
  }

  location / {
    try_files $uri $uri/ /index.html;
  }
}
